<!DOCTYPE html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'foro/css/bootstrap/bootstrap.css'%}"/>
        <link rel="stylesheet" href="{% static 'foro/css/style.css' %}"/>
        <title>foro</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <script src="{% static 'foro/js/jquery-3.7.1.min.js' %}"></script>
        <script src="{% static 'foro/js/tmdb.js' %}"></script>
    </head>
    <body>
        <div class="grid-container">

            <div class="d-header">
                <div>
                    Fororo mororo - {{user.username}}
                </div>
            </div>

            <div class="d-menu">
                <ul>
                    <a href="{% url 'home' %}"><li>Volver al Home</li></a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'cerrar_sesion' %}"><li>Cerrar Sesion</li></a>
                    <a href="{% url 'nuevo_post' %}"><li>Crear Hilo</li></a>
                    {% else %}
                    <a href="{% url 'register' %}"><li>Crear Cuenta</li></a>
                    <a href="{% url 'fLogin' %}"><li>Iniciar Sesion</li></a>
                    {% endif %}
                </ul>
            </div>

            <div class="d-main">
                <div class="row" id="pelis">
                </div>
            </div>

            <div class="d-footer">
                
            </div>

        </div>

    </body>
    <footer>
        
    </footer>
</html>